# version: '3.8'
services:
  frontend:
    build:
      context: ./trinity
      dockerfile: ./Dockerfile.prod
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production

  backend:
    build:
      context: ./app
      dockerfile: ./Dockerfile.prod
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=mongodb://database:27017/mydb

  database:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - db_data:/data/db

  # database:
  #   image: postgres:latest
  #   environment:
  #     POSTGRES_USER: user
  #     POSTGRES_PASSWORD: password
  #     POSTGRES_DB: mydb
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - db_data:/var/lib/postgresql/data

volumes:
  db_data:
